@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-color: #102820;
    --element-color: #4C6444;
    --text-color: #caba9c;
    --accent-color: #8a6240;
    --bg-color-2: #4D2D18;
    --text-color-3: #ffffff;
    --text-color-2: #E2DED9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    font-family: Poppins;
    height: 90px;
    background-color: var(--element-color);
    color: var(--text-color-2);
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav ul svg {
    cursor: pointer;
    margin: 20px;
    transition: all 0.3s ease;
}

nav ul svg:hover {
    fill: var(--text-color-3);

}

nav ul li {
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color-2);
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: var(--text-color-3);
}

.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: var(--element-color);
    position: fixed;
    top: 0;
    right: 0;
    height: 100dvh;
    width: 100dvw;
    font-size: xx-large;
    z-index: 9999;
}

.hamburger {
    display: none;
}

.sidebar.active {
    display: none;
}

.LISTS {
    display: flex;
    align-items: center;
    margin: auto;
    height: 100%;
    justify-content: space-around;
}

.listItems {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.Title-nav {
    font-size: x-large;
    font-weight: bolder;
}

section {
    height: 100vh;
    width: 100%;
    background-color: var(--bg-color);
}


.first-page {
    height: 100vh;
    width: 100%;
    background: linear-gradient(110deg,
            rgb(5, 35, 28) 20%,
            rgba(5, 35, 28, 0.8) 50%,
            rgba(5, 35, 28, 0.6) 60%,
            rgba(5, 35, 28, 0) 70%), url('Assets/CollegePic3.png');
    background-position: bottom 90% center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
}

.first-page-heading {
    color: var(--text-color-3);
    font-size: 3.5rem;
    font-weight: 800;
    margin-left: 75px;
    margin-top: 230px;
    font-family: Poppins;

}

.first-page-text {
    color: var(--text-color-3);
    font-size: 1.2rem;
    margin-left: 75px;
    margin-top: 20px;
    width: 25rem;
    font-family: Poppins;
}

.line {
    height: 3px;
    width: 100%;
    background-color: var(--text-color);
}

.second-page {
    height: 110dvh;
    display: flex;
    background-color: var(--bg-color);
    flex-direction: column;
    justify-content: center;

}

.second-page-title {
    color: var(--text-color-3);
    font-size: 3.5rem;
    font-weight: bolder;
    margin: 50px;
    font-family: Poppins;
    text-align: center;
    margin: 20px;
}

.second-page-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.second-page-box {
    height: 400px;
    width: 400px;
    background-color: var(--element-color);
    margin: 50px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: moveup linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes moveup {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
    }
}

.values {
    position: relative;
}

.values-number {
    position: absolute;
    right: -35px;
    bottom: 60px;
    color: var(--text-color-3);
    font-size: 20rem;
    font-weight: bolder;
    font-family: 'Segoe UI';
    text-align: center;
    opacity: 0.1;
}

.vision {
    position: relative;
}

.vision-number {
    position: absolute;
    right: -16px;
    bottom: 60px;
    color: var(--text-color-3);
    font-size: 20rem;
    font-weight: bolder;
    font-family: 'Segoe UI';
    text-align: center;
    opacity: 0.1;
}

.mission {
    position: relative;
}

.mission-number {
    position: absolute;
    right: -16px;
    bottom: 60px;
    color: var(--text-color-3);
    font-size: 20rem;
    font-weight: bolder;
    font-family: 'Segoe UI';
    text-align: center;
    opacity: 0.1;
}

.box-title {
    color: var(--text-color-3);
    font-size: 2rem;
    font-weight: bolder;
    margin-left: 17px;
    margin-top: 50px;
    font-family: Poppins;
    text-align: left;
}

.box-content {
    color: var(--text-color-2);
    font-size: 1rem;
    margin-left: 17px;
    margin-top: 20px;
    margin-right: 17px;
    font-family: Poppins;
    text-align: left;
    width: 200px;
}

.cca-activities {
    display: flex;
    flex-direction: column;
    height: 120dvh;

}

.cca-activities-heading {
    color: var(--text-color-3);
    font-size: 2rem;
    font-weight: bolder;
    margin-left: 17px;
    margin-top: 20px;
    font-family: Poppins;
    text-align: center;
}

.cca-activities-content-text {
    margin: 20px;
    font-family: Poppins;
    text-align: left;
    width: 400px;
    color: var(--text-color-2);
}

.cca-activities-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cca-activities-content-images img {
    animation: shownup linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    border-radius: 12px;
}

@keyframes shownup {
    0% {
        opacity: 0;
        transform: translateY(35%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

footer,
.end-credits {
    height: 100px;
    width: 100%;
}

footer {
    background-color: var(--bg-color);
    color: var(--text-color-2);
    font-family: Poppins;
    text-align: center;
}

section {
    min-height: 100vh;
    height: auto;
}

.second-page {
    height: auto;
}

@media (max-width: 953px) {
    .hamburger {
        display: flex;
    }

    html {
        overflow-x: hidden;
    }



    .listItems {
        display: none;
    }

    .Title-nav {
        font-size: large;
    }

    .first-page {
        height: auto;
        min-height: 100vh;
        padding: 20px;
    }

    .first-page {
        height: auto;
        min-height: 100vh;
        flex-direction: column;
        padding: 20px;
        background: linear-gradient(360deg,
                rgb(5, 35, 28) 20%,
                rgba(5, 35, 28, 0.8) 60%,
                rgba(5, 35, 28, 0.6) 70%,
                rgba(5, 35, 28, 0) 90%), url('Assets/CollegePic3.png');
        /* background-attachment: fixed; */
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center right;
    }

    .first-page-heading {
        font-size: 2rem;
        margin-left: 0;
        margin-top: 100px;
        text-align: center;
    }

    .first-page-text {
        font-size: 0.9rem;
        margin-left: 0;
        width: 100%;
        text-align: center;
    }

    .first-page-text-area {
        width: 100%;
    }

    .second-page {
        height: auto;
        min-height: 100vh;
        padding: 20px;
    }

    .second-page-title {
        font-size: 2rem;
        margin: 20px 0;
    }

    .second-page-content {
        flex-direction: column;
        gap: 20px;
    }

    .second-page-box {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 20px;
    }

    .s .box-title {
        font-size: 1.5rem;
        margin-left: 0;
        margin-top: 20px;
    }

    .box-content {
        font-size: 0.9rem;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    .values-number {
        font-size: 8rem;
        opacity: 0.1;
        right: -12px;

    }

    .vision-number,
    .mission-number {
        font-size: 8rem;
        right: -8px;
        top: -10px;
    }

    .cca-activities {
        height: auto;
        min-height: 100vh;
        padding: 20px;
    }

    .cca-activities-content-images img:nth-child(even) {
        animation: slideright linear;
        animation-timeline: view();
        animation-range: entry 0% cover 20%;
        border-radius: 12px;
    }

    .cca-activities-content-images img:nth-child(odd) {
        animation: slideleft linear;
        animation-timeline: view();
        animation-range: entry 0% cover 20%;
        border-radius: 12px;
    }

    @keyframes slideright {
        0% {
            opacity: 0;
            transform: translateX(35%);
        }

        100% {
            opacity: 1;
            transform: translateX(0%);
        }
    }

    @keyframes slideleft {
        0% {
            opacity: 0;
            transform: translateX(-35%);
        }

        100% {
            opacity: 1;
            transform: translateX(0%);
        }
    }

    .cca-activities {
        height: auto;
        min-height: 100dvh;
        padding: 20px;
    }

    .cca-activities-heading {
        font-size: 1.5rem;
        margin: 20px 0;
    }

    .cca-activities-content {
        flex-direction: column;
        gap: 20px;
    }

    .cca-activities-content-text {
        width: 100%;
        margin: 0;
    }

    .cca-activities-content-images img {
        width: 100%;
        height: auto !important;
    }
}

/* Tablets (481px - 768px) */
@media (min-width: 481px) and (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    nav {
        height: auto;
        padding: 15px 0;
    }

    nav ul {
        flex-wrap: wrap;
    }

    .MonogramArea {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .Monogram img {
        height: 60px !important;
    }

    .LISTS {
        width: 100%;
        flex-direction: column;
        gap: 15px;
    }

    .listItems {
        justify-content: center;
        gap: 15px;
    }

    .Title-nav {
        font-size: large;
    }

    .first-page-heading {
        font-size: 2.5rem;

        text-align: center;
    }

    .first-page-text {
        font-size: 1rem;
        margin-left: 0;
        width: 100%;
        text-align: center;
    }

    .first-page-text-area {
        width: 100%;
    }

    .second-page {
        height: auto;
        min-height: auto;
        padding: 40px 20px;
    }

    .second-page-title {
        font-size: 2.5rem;
    }

    .second-page-content {
        flex-direction: column;
        gap: 30px;
    }

    .second-page-box {
        width: 90%;
        height: auto;
        margin: 0 auto;
        padding: 25px;
    }

    .box-title {
        font-size: 1.8rem;
    }

    .box-content {
        font-size: 0.95rem;
        width: 100%;
    }

    .cca-activities {
        height: auto;
        min-height: auto;
        padding: 40px 20px;
    }

    .cca-activities-heading {
        font-size: 2rem;
    }

    .cca-activities-content {
        flex-direction: column;
        gap: 30px;
    }

    .cca-activities-content-text {
        width: 100%;
    }

    .cca-activities-content-images {
        width: 100%;
    }

    .cca-activities-content-images img {
        width: 100%;
        height: auto !important;
    }
}

/* Desktop - Medium & Large (769px and above) */
@media (min-width: 769px) {
    nav {
        height: 90px;
    }

    .first-page-heading {
        font-size: 3.5rem;
        /* margin-left: 75px; */
        /* margin-top: 230px;/ */
        font-size: 3.5rem;
        text-align: left;
        margin-left: 90px;
    }

    .first-page-text {
        font-size: 1.2rem;
        margin-left: 75px;
        width: 25rem;
    }

    .second-page-box {
        height: 400px;
        width: 400px;
    }

    .cca-activities-content {
        flex-direction: row;
        justify-content: space-around;
    }

    .cca-activities-content-text {
        width: 400px;
    }

    .cca-activities-content-images img {
        height: 250px;
    }
}