@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-color: #102820;
    --element-color: #4C6444;
    --text-color: #caba9c;
    --accent-color: #8a6240;
    --bg-color-2: #4D2D18;
    --text-color-2: #E2DED9;
    --text-color-3: #ffffff;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    font-family: Poppins;
    height: 90px;
    background-color: var(--element-color);
    color: var(--text-color-2);
    width: 100%;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color-2);
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: var(--text-color-3);
}

.LISTS {
    display: flex;
    align-items: center;
    margin: auto;
    height: 100%;
    justify-content: space-around;
}

.listItems {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.Title-nav {
    font-size: x-large;
    font-weight: bolder;
}

main {
    height: 100vh;
    width: 100%;
}

.first-page {
    height: 100vh;
    width: 100%;
    background: linear-gradient(130deg, #102820 10%, rgba(7, 7, 7, 0.274))80%, url('Assets/College.jpg');
    background-position: bottom 65% center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
}

.first-page-heading {
    color: var(--text-color-3);
    font-size: 3.5rem;
    font-weight: 800;
    margin-left: 75px;
    margin-top: 230px;
    font-family: Poppins;

}

.first-page-text {
    color: var(--text-color-3);
    font-size: 1.2rem;
    margin-left: 75px;
    margin-top: 20px;
    width: 25rem;
    font-family: Poppins;
}

.line {
    height: 3px;
    width: 100%;
    background-color: var(--text-color);
}
.second-page{
    display: flex;
    background-color: var(--bg-color);
    flex-direction: row;   
}
.second-page-title{
    
}